*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  min-width: 320px;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000;
  margin: 0;
  padding: 0;
}
a.navbar-brand {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #fff;
}
#navbarSupportedContent a {
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #fff;
}
#header a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.container-fluid-first {
  background: #e9ecef;
  padding: 5rem 0 4.0625rem 3.4375rem;
}
.container-fluid-first .row {
  margin: 0;
  padding: 0;
}
.container-fluid-first h2 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 5.25rem;
  color: #212529;
}
.container-fluid-first p {
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #212529;
}
.card-header {
  font-size: 1rem;
  line-height: 1.1875rem;
}
.card-title {
  font-size: 1.25rem;
  line-height: 1.4375rem;
}
.card-text {
  font-size: 1rem;
  line-height: 1.1875rem;
}
.container-fluid-second {
  background: #fff;
  padding: 2.0625rem 3.4375rem;
}
.container-fluid-third {
  background: #fff;
  padding: 0rem 3.4375rem 2.0625rem;
  font-size: 1rem;
  line-height: 1.1875rem;
}
.container-fluid-footer {
  background: #f5f5f5;
  padding: 1.125rem 3.4375rem;
}
.container-fluid-footer p {
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #6c757d;
  padding: 0;
  margin: 0;
}
